body{
    font-family: 'Poppins', sans-serif;
    background-color: #AAAAAA;
    

}
main{
    
    
    width: 1440px;
    background-color: #FFFFFF;
    margin-top: 80px;
    margin-left: 250px;
}


.sec-01{
    display: flex;
    
    
}
.titel-01{
    font-weight: bold;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 480px;
}
#font{
    padding-left: 20px;
}
.font-01{
    padding-left: 20px;
    
}





/* -------------------navigation----------*/
nav ul{
    display: flex;
    
}
nav li{
    
    list-style: none;
    margin-top: 8px;
    margin-right: 20px;
}
nav li a{
    text-decoration: none;
    color: #3A3A3A;
    font-weight: 600;
    font-size: 16px;
}
/* --------------description---------- */
.describe{
    display: flex;
    margin-top: 50px;
    margin-left: 60px;
}
.blog-01{
    width: 582px;
    height: 270px;
}
.button-modify{
    background-color: #E02C6D;
    color: #FFFF;
    width: 196px;
    height: 44px;
    border: none;
    font-size: 16PX;
    font-weight: bold;
    border-radius: 41px;
}
.blog-01 img{
    width: 500px;
    height: 300px;
    margin-left: 100px;
}
         /* popular-collection*/
         
.section-titel{
    text-align: center;
    margin-top: 250px;
    margin-bottom: 50px;
}
.collections{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
    
    margin-left: 200px;
    margin-bottom: 75px;
}

.collection{
    width: 310px;
    height: 486px;
    background-color: #FFFFFF;
    
    box-shadow:0px 0px 20px rgba(0, 0, 0, 30);
    border-radius: 5px;
    

    

}
 .collections .collection .collection-products img{
    width: 280px;
    height: 236px;
    padding-left: 15px;
    padding-top: 10px;
    
}
.products-details{
    font-size: 20px;
    padding-left: 12px;
    margin-bottom: 10px;
 }
.products-info{
    display: flex;
    align-items: center;
}
.fa-star{
    font-size: 14px;
    
}
.fa-star.filled{
    color: #FB8200;

}
.fa-star.empthy{
    color: #AEAEAE ;
    
}
.history{
    font-size: 15px;
    font-family: cursive;
    font-weight: bold;
    color: gray;
    
}
.page{     
    text-align: end;
    color: #E02C6D;
    font-weight: bolder;
    padding-right: 150px;
 }



 /* foooter */
 .foot-finish{ 
     border: none;
     border: 1px solid black;
     background-color: rgb(1, 1, 54);
     color: whitesmoke;
     text-align: center;
 }
 .social-links{
     font-size: 40px;
    padding-right: 15px;
 }
 /* media queries  */
 /* mobile devices */
 @media only screen and (max-width:688px) {
     
    
    .blog-01, .collections{
        grid-template-columns: repeat(1, 1fr);
    }
    .blog-01, .collection{
        flex-direction: column;
    }
 }
/* tablet devices */
@media only screen and (min-width:668px)  and (max-width:992px) {

    .blog-01, .collections{
        grid-template-columns: repeat(2, 1fr);
    }
    .blog-01, .collections{
        flex-direction: column;
    }
    
}